.contact-container{
    border-radius: 100%;
}
.fit-content{
    width: fit-content;
    height: fit-content;
}
.height-limit{
    min-height: 550px;
}
.contact-section{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10%;
    background-image: url('../images/contact-circle.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 265px;
}
.btn-contact{
    width: 200px;
    height: 51px;
}
.btn-contact{
    transition: all 0.3s ease-in-out;
}
.btn-contact:hover{
    transform: scale(105%);
}
.font-contact-title{
    font-family: 'SamsungSharpSansM';
}
.font-contact-subtitle{
    font-family: 'SamsungSharpSans';
    font-size: 18px;
}
.btn-contact span{
    width: fit-content;
    font-family: 'SamsungSharpSans';
    font-size: 12px;
}

/* Form */

.btn-send{
    background-color: #202020;
    color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.label-contact{
    font-size: 0.85rem; 
    color: #ccc;
}

.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da !important;
}

.md-textarea{
    resize: none;
}