.logo-header{
    max-height: 80px;
    min-width: 60px;
    width: 100%;
}
.active{
    background-color: black;
    --bs-navbar-active-color: white ; 
}  
.item-style{
    font-weight: 700;
    color: black;
    border-radius: 50px;
}
.nav-link{
    padding-right: 20px;
    padding-left: 20px;
    --bs-navbar-nav-link-padding-x: 20px;
    --bs-nav-link-hover-color: none; 
    --bs-nav-link-font-size: 13px;
}
.nav-link:hover{
    background-color: black;
    color: white;
}
.nav-link:focus{
    color: auto !important;
}
.navbar-brand{
    padding-top: 8px;
}
.navbar-toggler{
    border: none;
}
.header-container{
    max-width: 2000px !important; 
}

@media (max-width: 500px) {
    .navbar-toggler{
        margin-left: 150px;
    }
    .res-padding{
        padding: 0px 1.5rem !important;
    }
}
@media (max-width: 360px) {
    .navbar-toggler{
        margin-left: 100px;
    }
}

