/* Filter */

.ul-container{
    max-width: 978px;
    margin: auto;
}

.list-group{
    --bs-list-group-border-width: 0px;
}
.list-group-item{
    width: 10%;
}
.underline{
    color: black;
    font-weight: bold;
}
.underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 34%;
    width: 30%;
    height: 0.15em;
    background-color: black;
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
    transition: opacity 300ms, transform 300ms;
}
.style-i{
    font-family: 'SamsungOne400';
    font-size: 17px;
    color: black;
}

/* Cards */

.card-title-style{
    font-family: 'SamsungOne700';
}

.underline:hover::after {
  opacity: 1;
  transform: scale(1);
}
.card-product{
    background-color: #f8f4f4;
    border-radius: 25px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.padding-card{
    padding: 40px 85px;
}
.card-text-product{
    margin-bottom: 0px;
    font-family: 'SamsungOne400';
}
.btn-buy-black{
    background-color: black;
    color: white;
    border-radius: 20px;
    visibility: show;
    opacity: 0;
    transition: all 0.4s ease;
}
.btn-buy-black:hover svg{
    fill: black;
    transition-delay: 100ms;
}
.card-text-product{
    transition: all 0.4s ease;
}
.card-product:hover .card-text-product{
    transform: translateY(-10px);
    opacity: 0;
    transition: all 0.4s ease;
}
.card-product:hover .btn-buy-black{
    visibility: show;
    transform: translateY(-50%);
    opacity: 1;
    transition: all 0.4s ease;
}
.card-img-top{
    transition: all 0.4s ease;
}
.card-product:hover .card-img-top{
    transform: scale(110%);
    transition: all 0.4s ease;
}
