.datacenter-img{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/services.jpg');
    background-size: cover;
}
.card-services{
    width: 265px;
}
.data-center{
     max-width: 884px;
}