.datacenter-img{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/services.jpg');
    background-size: cover;
}
.card-services{
    width: 265px;
    padding-top: 45px;
    padding-bottom: 45px;
    min-height: 250px;
}
.data-center{
     max-width: 884px;
}
.card-title-services{
    font-family: 'SamsungOne700'
}
.card-text-services{
    font-family: 'SamsungOne400'
}