.slidebutton{
    position: absolute;
    top: 62%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ff6600;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.slideblank{
    height: 518px;
}

@media (max-width: 768px) { 
    .img-carousel {
         min-width: 1200px;
    }
}
